# Nagłówek 1
## Nagłówek 2
### Nagłówek 3

**pogrubiony tekst**

```formatowanie w bloku```

```python
for letter in word:
    print(letter)
```

[Strona Google](https://google.com)

1. Punkt 1
2. Kolejny punkt

- [ ] zadanie 1
- [X] zadanie 2

Zwykły tekst

In [2]:
print("Hello world!")

Hello world!

In [3]:
"Hello world!"

'Hello world!'

In [4]:
a = 2
b = 5

In [5]:
a
b

5

In [6]:
print(a)
print(b)

2
5

In [7]:
print(a, b, sep="\n")

2
5

In [8]:
# ! - dostęp do wiersza poleceń - zmiana interpretera z Pythona na Bash
!ls # !dir

Analiza_danych.ipynb Library              Public
Applications         ML-datasets          PycharmProjects
Desktop              ML-datasets-master   some_materials
Documents            Movies               ThisIsFine
Downloads            Music                Trasee
Jsystems             opera
kurs gamedev         Pictures

In [9]:
# !pip freeze # lista zainstalowanych bibliotek

In [10]:
!pip freeze | grep pandas #!pip freeze | findstr pandas

geopandas==0.14.4
pandas==2.2.3

# Pandas

In [25]:
import pandas as pd
import numpy as np

In [12]:
pd.__version__

'2.2.3'

## Serie danych

In [18]:
s1 = pd.Series([1,2,3,4,5,6])
s1
s2 = pd.Series([1,2,3,4,5,"Ala ma kota"])
s2
s3 = pd.Series([1,2,3,4,5,6], dtype="float64")
s3
type(s3)

pandas.core.series.Series

## DataFrame

In [24]:
df1 = pd.DataFrame([[1,2,3],[4,5,6]])
print(df1)
display(df1)
type(df1)
df1[0]
type(df1[0])

   0  1  2
0  1  2  3
1  4  5  6

   0  1  2
0  1  2  3
1  4  5  6

pandas.core.series.Series

In [28]:
df2 = pd.DataFrame(np.random.randn(7,3), index=[2019,2020,2021,2022,2023,2024,2025], columns=["A", "B", "C"])
df2

             A         B         C
2019  0.155554 -0.587340  1.490594
2020  0.462220  1.802690 -0.029760
2021 -0.684955  1.457179 -0.511554
2022  0.924343 -1.434903 -1.570059
2023  0.049694 -0.679889 -1.832714
2024  0.111963 -0.909262  1.563799
2025 -0.793321 -3.029738 -0.226433

## Praca z rzeczywistymi danymi

In [31]:
# !git clone https://github.com/matzim95/ML-datasets

In [33]:
chipotle = pd.read_csv("ML-datasets-master/chipotle.tsv", sep="\t")
chipotle

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

## Wyświetlanie danych

In [40]:
chipotle.head(7) # pierwsze n elementów (domyślnie 5)
chipotle.tail(12) # ostatnie n elementów (domyślnie 5)
chipotle.sample(4) # losowe n elementów (domyślnie 1)

,order_id,quantity,item_name,choice_description,item_price
1930,781,1,Chips and Guacamole,NaN,$4.45
2197,886,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.75
558,231,1,Chips,NaN,$2.15
4038,1615,1,Steak Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$9.25

In [ ]:
chipotle.item_price # wyświetlenie kolumny - 1 szy sposób (tylko dla kolumn bez spacji)
chipotle["item_price"] # wyświetlenie kolumny - 2 szy sposób

chipotle[["item_price"]] # wyświetlanie jako dataframe
chipotle[["item_price", "item_name"]]

In [49]:
chipotle.index # informacje o indeksie
chipotle.columns
#for column in chipotle.columns:
#    ...
chipotle.info() # ogólne informacje o danych

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [51]:
chipotle["item_name"][5]

'Chicken Bowl'

In [ ]:
# df.loc[nazwy_indeksow, nazwy_kolumn] #WZÓR
# df.iloc[numery_indeksow, nnumery_kolumn]

chipotle.loc[5, "item_name"]
chipotle.iloc[5, 2]

# slicing od:do:krok
chipotle.loc[2:50:3, "item_price"]
chipotle.loc[:50:3, "item_price"] # od początku
chipotle.loc[4000:4500, "item_price"]
chipotle.loc[:, "item_price"] # wszystkie wiersze
chipotle.loc[:, ["item_price", "item_name"]]

chipotle.iloc[4000:-500, :] # wszystkie kolumny

chipotle.iloc[2:50:3, 1:-1:2]

## Warunki

In [84]:
chipotle.quantity > 1 # zwraca tablicę logiczną
chipotle[chipotle.quantity > 1] # zwraca rekordy spełniające warunek

# logiczny AND - &, logiczny OR - |, logiczny NOT - ~
chipotle[(chipotle.quantity > 1) & (chipotle.item_name == "Chicken Bowl")]

chipotle[(chipotle.quantity > 1) | (chipotle.item_name == "Chicken Bowl")]

chipotle[chipotle.item_name.isin(["Canned Soda", "Steak Burrito"])] # jest jednym z

chipotle[chipotle.item_name.str.contains("Bowl")]
chipotle[chipotle.item_name.str.contains("bowl", case=False)]
chipotle[chipotle.item_name.str.lower().str.contains("bowl")]

chipotle[chipotle.item_name.str.startswith("Bowl")] # podobnie endswith

,order_id,quantity,item_name,choice_description,item_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40

## Modyfikacja danych

In [87]:
chipotle.loc[5, "quantity"] = 3

In [88]:
chipotle.loc[5, "quantity"]

3

In [91]:
# kopiowanie danych
#chipotle_2 = chipotle # płytka kopia TAK NIE ROBIMY
#chipotle.iloc[1,1]
#chipotle_2.iloc[1,1] = 5
#chipotle.iloc[1,1]

chipotle_2 = chipotle.copy() # głeboka kopia
chipotle.iloc[1,1]
chipotle_2.iloc[1,1] = 7
chipotle.iloc[1,1]

5

In [92]:
chipotle_2.quantity ** 2

0        1
1       49
2        1
3        1
4        4
        ..
4617     1
4618     1
4619     1
4620     1
4621     1
Name: quantity, Length: 4622, dtype: int64

In [93]:
# tworzenie nowej kolumny
chipotle["new"] = 3

In [95]:
chipotle["new_2"] = pd.Series(np.random.randint(50,100,4500))

In [ ]:
chipotle.loc[4490:4510,:]

In [99]:
chipotle["new_3"] = pd.Series(np.random.randint(50,100,4700))

In [100]:
chipotle

,order_id,quantity,item_name,choice_description,item_price,new,new_2,new_3
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,3,83.0,81
1,1,5,Izze,[Clementine],$3.39,3,76.0,56
2,1,1,Nantucket Nectar,[Apple],$3.39,3,77.0,52
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,3,87.0,85
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,3,91.0,69
...,...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,3,NaN,85
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,3,NaN,58
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,3,NaN,66
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,3,NaN,77
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,3,NaN,77

In [102]:
# zapisywanie do pliku
chipotle.to_csv("processed.csv")

In [ ]:
%config IPCompleter.use_jedi = False
%config Completer.evaluation = 'limited'

## Agregacje

In [108]:
cars = pd.read_csv("ML-datasets-master/auto_mpg.csv", na_values=["?", "null"])
display(cars.head())
cars.info()

,cylinders,displacement,horsepower,weight,acceleration,modelyear,origin,mpg
0,8,307.0,130.0,3504.0,12.0,70,1,18.0
1,8,350.0,165.0,3693.0,11.5,70,1,15.0
2,8,318.0,150.0,3436.0,11.0,70,1,18.0
3,8,304.0,150.0,3433.0,12.0,70,1,16.0
4,8,302.0,140.0,3449.0,10.5,70,1,17.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     398 non-null    int64
 1   displacement  398 non-null    float64
 2   horsepower    392 non-null    float64
 3   weight        398 non-null    float64
 4   acceleration  398 non-null    float64
 5   modelyear     398 non-null    int64
 6   origin        398 non-null    int64
 7   mpg           398 non-null    float64
dtypes: float64(5), int64(3)
memory usage: 25.0 KB

In [104]:
cars.horsepower.unique() # zwraca unikalne wartości

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '?', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [109]:
for number in cars.horsepower.unique():
    try:
        float(number)
    except ValueError as e:
        print(e)

In [123]:
cars.count() # dla całego zbioru
cars.horsepower.count() # dla kolumny

cars.horsepower.unique() 
len(cars.horsepower.unique())

cars.horsepower.value_counts() # zliczanie wartości unikalnych wystąpień

cars.horsepower.sum()
cars.horsepower.mean()
cars.horsepower.median()
cars.horsepower.min()
cars.horsepower.max()
cars.horsepower.std()

cars.horsepower.quantile(0.25)

cars.horsepower.idxmax()
cars.horsepower.idxmin()

19

In [ ]:
cars.describe()

In [ ]:
chipotle.describe(include="all") # domyślnie tylko kolumny numeryczne

In [129]:
stats = chipotle.describe(include="all").loc[["top", "freq"], ["item_name", "item_price", "quantity"]]

In [130]:
stats.to_csv("stats.csv")

In [133]:
cars["real_power"] = cars.horsepower / cars.weight * 100

In [ ]:
cars

In [135]:
pd.DataFrame({"name": ["Jan", "Arek"], "score": [30, 12]})

   name  score
0   Jan     30
1  Arek     12

In [ ]:
# Settings → Settings Editor → Notebook → Windowing mode → none

In [138]:
# zadanie 1
students = pd.DataFrame({"name":["Ania","Lena","Leon", "Wiktor","Gosia", "Marta","Damian", "Mateusz","Czarek", "Ola"],"score":[30,28,29,15,16,22,7,5,1,11]})
students
print(students.score.mean())
print(students.score.median())

16.4
15.5

In [141]:
# zadanie 2
students.iloc[4]

name     Gosia
score       16
Name: 4, dtype: object

In [142]:
best = students[students.score > students.score.mean()]
best

    name  score
0   Ania     30
1   Lena     28
2   Leon     29
5  Marta     22

## Aplikacja funkcji do danych

In [ ]:
# def nazwa_funkcji(argumenty):
#     ciało funkcji
#.    return zwracane wartości

def roznica(x):
    return x.max() - x.min()

# metoda apply
cars.apply(roznica) # x - jedna kolumna / seria danych (dla wywołania dla dataframe)

# cars.horsepower.apply(roznica) # x - pojedyncza wartosc/komórka danych (dla wywołania dla serii danych)

cars.apply(roznica, axis=1) # x - jeden wiersz

In [ ]:
def dolarizer(x):
    return float(x.replace("$", ""))

chipotle["item_price_2"] = chipotle.item_price.apply(dolarizer)
chipotle.head()

In [160]:
(chipotle["item_price_2"] * chipotle["quantity"]).sum() # utarg

39272.54

In [162]:
# funkcja lambda
# lambda argumenty: ciało funkcji (automatycznie zwracane)

chipotle["item_price_3"] = chipotle.item_price.apply(lambda x: float(x.replace("$", "")))

In [163]:
chipotle.head()

,order_id,quantity,item_name,choice_description,item_price,new,new_2,new_3,itme_price_2,item_price_2,item_price_3
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,3,83.0,81,2.39,2.39,2.39
1,1,5,Izze,[Clementine],$3.39,3,76.0,56,3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3,77.0,52,3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,3,87.0,85,2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,3,91.0,69,16.98,16.98,16.98

In [171]:
# zadanie 3
students["percentage"] = students.score / 30 * 100

def anonymizer(x):
    return x[0] + "..." + x[-1]

def anonymizer_2(x):
    final_world = x[0]
    for letter in x[1:-1]:
        final_world += "."
    final_world += x[-1]
    return final_world

students["anonymized"] = students.name.apply(anonymizer)
students["anonymized_2"] = students.name.apply(anonymizer_2)

In [ ]:
students

## Grupowanie

In [ ]:
cars.groupby("cylinders").groups # wypisanie grup w formie słownika

cars.groupby("cylinders").get_group(3)

cars.groupby("cylinders").mean()
cars.groupby("cylinders").mean()["horsepower"]
cars.groupby("cylinders").mean()[["horsepower", "acceleration"]]

cars.groupby("cylinders").agg(["max", "min", roznica])[["horsepower", "acceleration"]]

cars.groupby("cylinders").describe()[["horsepower", "acceleration"]]

cars.groupby(["cylinders", "origin"]).mean()["horsepower"]
cars.groupby(["cylinders", "origin"]).mean()["horsepower"].reset_index()

In [187]:
cars.groupby("cylinders").agg(["max", "mean"])[["horsepower", "acceleration"]]

          horsepower             acceleration
                 max        mean          max       mean
cylinders
3              110.0   99.250000         13.5  13.250000
4              115.0   78.281407         24.8  16.601471
5              103.0   82.333333         20.1  18.633333
6              165.0  101.506024         21.0  16.263095
8              230.0  158.300971         22.2  12.955340

## Operacje na danych

In [ ]:
# usuwaniu danych
# chipotle = chipotle.drop(["new", "new_2", "new_3", "itme_price_2"], axis=1)

chipotle.drop(["new", "new_2", "new_3", "itme_price_2"], axis=1, inplace=True) # usuwanie kolumn

In [192]:
cars.drop([2,3], inplace=True) # usuwanie wierwszy

In [196]:
cars.reset_index(drop=True, inplace=True)

In [ ]:
# normalizacja
cars["horsepower_n"] = (cars["horsepower"] - cars["horsepower"].min()) / (cars["horsepower"].max() - cars["horsepower"].min())
# standaryzacja
cars["horsepower_s"] = (cars["horsepower"] - cars["horsepower"].mean()) / (cars["horsepower"].std())
cars

In [201]:
# korelacja
cars.corr()
round(cars.horsepower.corr(cars.acceleration), 2)

-0.69

In [ ]:
# dyskretyzacja
def split_power(x):
    if x < 100:
        return "Weak"
    elif x < 200:
        return "Average"
    else:
        return "Power!"
    
cars["horsepower_d"] = cars.horsepower.apply(split_power)
cars

In [ ]:
# one hot encoding
pd.get_dummies(cars, columns=["horsepower_d"])

## Łączenie danych

In [238]:
zoo = pd.read_csv("ML-datasets-master/zoo.csv")
zoo

      animal  uniq_id  water_need
0   elephant     1001         500
1   elephant     1002         600
2   elephant     1003         550
3      tiger     1004         300
4      tiger     1005         320
5      tiger     1006         330
6      tiger     1007         290
7      tiger     1008         310
8      zebra     1009         200
9      zebra     1010         220
10     zebra     1011         240
11     zebra     1012         230
12     zebra     1013         220
13     zebra     1014         100
14     zebra     1015          80
15      lion     1016         420
16      lion     1017         600
17      lion     1018         500
18      lion     1019         390
19  kangaroo     1020         410
20  kangaroo     1021         430
21  kangaroo     1022         410

In [239]:
# dodawanie nowego wiersza
zoo.loc[22] = ["kangaroo", 1023, 400]

In [240]:
zoo

      animal  uniq_id  water_need
0   elephant     1001         500
1   elephant     1002         600
2   elephant     1003         550
3      tiger     1004         300
4      tiger     1005         320
5      tiger     1006         330
6      tiger     1007         290
7      tiger     1008         310
8      zebra     1009         200
9      zebra     1010         220
10     zebra     1011         240
11     zebra     1012         230
12     zebra     1013         220
13     zebra     1014         100
14     zebra     1015          80
15      lion     1016         420
16      lion     1017         600
17      lion     1018         500
18      lion     1019         390
19  kangaroo     1020         410
20  kangaroo     1021         430
21  kangaroo     1022         410
22  kangaroo     1023         400

In [241]:
additional_animal = pd.DataFrame({"animal": ["kangaroo"],
                                  "uniq_id": [1024], "water_need": [500]})

zoo = pd.concat([zoo, additional_animal], ignore_index=True)

In [242]:
zoo_eats = pd.DataFrame({"animal": ["zebra", "tiger", "lion", "giraffe", "elephant"],
                        "food": ["vegetables", "meat", "meat", "vegetables", "vegetables"]})
zoo_eats

     animal        food
0     zebra  vegetables
1     tiger        meat
2      lion        meat
3   giraffe  vegetables
4  elephant  vegetables

In [243]:
# pd.merge(df1, df2)
# df1.merge(df2)

zoo.merge(zoo_eats) #domyślnie inner, na kolumnach o tej samej nazwie
zoo.merge(zoo_eats, how="left")
zoo.merge(zoo_eats, how="right", on="animal")
zoo.merge(zoo_eats, how="outer", left_on="animal", right_on="animal")
zoo.merge(zoo_eats, how="cross")

     animal_x  uniq_id  water_need  animal_y        food
0    elephant     1001         500     zebra  vegetables
1    elephant     1001         500     tiger        meat
2    elephant     1001         500      lion        meat
3    elephant     1001         500   giraffe  vegetables
4    elephant     1001         500  elephant  vegetables
..        ...      ...         ...       ...         ...
115  kangaroo     1024         500     zebra  vegetables
116  kangaroo     1024         500     tiger        meat
117  kangaroo     1024         500      lion        meat
118  kangaroo     1024         500   giraffe  vegetables
119  kangaroo     1024         500  elephant  vegetables

[120 rows x 5 columns]

In [244]:
zoo = zoo.merge(zoo_eats, how="outer")

In [245]:
#wypełnianie danych brakujących
zoo.water_need = zoo.water_need.fillna(zoo.water_need.mean())

In [ ]:
zoo.uniq_id = zoo.uniq_id.ffill() # forward fill

In [251]:
def fill_food(x):
    if x == "lion" or x == "tiger":
        return "meat"
    else:
        return "vegetables"
    
zoo.food = zoo.food.fillna(zoo.animal.apply(fill_food))

## Sortowanie danych

In [260]:
cars.sort_index(ascending=False)

cars.sort_values("cylinders")
cars.sort_values("cylinders", ascending=False)
cars.sort_values(["cylinders", "modelyear"], ascending=[True, False])
cars.sort_values(["cylinders", "modelyear"], ascending=[True, False], inplace=True)

In [263]:
cars.reset_index(drop=True, inplace=True)

In [264]:
cars

,cylinders,displacement,horsepower,weight,acceleration,modelyear,origin,mpg,real_power,horsepower_n,horsepower_s,horsepower_d
0,3,70.0,100.0,2420.0,12.5,80,3,23.7,4.132231,0.293478,-0.110164,Average
1,3,80.0,110.0,2720.0,13.5,77,3,21.5,4.044118,0.347826,0.149908,Average
2,3,70.0,90.0,2124.0,13.5,73,3,18.0,4.237288,0.239130,-0.370235,Weak
3,3,70.0,97.0,2330.0,13.5,72,3,19.0,4.163090,0.277174,-0.188185,Weak
4,4,112.0,88.0,2605.0,19.6,82,1,28.0,3.378119,0.228261,-0.422250,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...
391,8,455.0,225.0,3086.0,10.0,70,1,14.0,7.290992,0.972826,3.140733,Power!
392,8,360.0,215.0,4615.0,14.0,70,1,10.0,4.658722,0.918478,2.880661,Power!
393,8,307.0,200.0,4376.0,15.0,70,1,10.0,4.570384,0.836957,2.490554,Power!
394,8,318.0,210.0,4382.0,13.5,70,1,11.0,4.792332,0.891304,2.750626,Power!
395,8,304.0,193.0,4732.0,18.5,70,1,9.0,4.078614,0.798913,2.308504,Average

In [269]:
# zadanie 4
students.sort_values(["score", "name"], ascending=[False, True])

      name  score  percentage anonymized anonymized_2
0     Ania     30  100.000000      A...a         A..a
2     Leon     29   96.666667      L...n         L..n
1     Lena     28   93.333333      L...a         L..a
5    Marta     22   73.333333      M...a        M...a
4    Gosia     16   53.333333      G...a        G...a
3   Wiktor     15   50.000000      W...r       W....r
9      Ola     11   36.666667      O...a          O.a
6   Damian      7   23.333333      D...n       D....n
7  Mateusz      5   16.666667      M...z      M.....z
8   Czarek      1    3.333333      C...k       C....k

In [270]:
# zadanie 5
student_data1 = pd.DataFrame({ 'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
                              'name': ['Danniella Fenton', 'RyderStorey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'] })
student_data2 = pd.DataFrame({ 'student_id': ['S6', 'S7', 'S8', 'S9', 'S10'],
                              'name': ['Scarlette Fisher', 'CarlaWilliamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'] })

all_data = pd.concat([student_data1, student_data2], ignore_index=True)

In [272]:
# zadanie 6
exam_results = pd.DataFrame({ 'student_id': ['S2', 'S10', 'S3', 'S1', 'S7', 'S9', 'S5', 'S4', 'S8', 'S6'],
                             'marks': [200,210, 190, 222, 199, 201, 200, 198, 219, 201] })

merged_data = all_data.merge(exam_results)

## Daty

In [274]:
# generowanie daty
dates = pd.date_range(start="2025-06-10 15:38:12", periods=7, freq="1h")
df_5 = pd.DataFrame(np.random.randn(7,3), index=dates)
df_5

                            0         1         2
2025-06-10 15:38:12  0.589678 -0.015264  0.606916
2025-06-10 16:38:12  0.674684  0.149613  0.701889
2025-06-10 17:38:12 -1.542557 -0.674716  0.032763
2025-06-10 18:38:12 -0.480738 -0.873068  0.207894
2025-06-10 19:38:12  0.076619 -1.071123  0.425036
2025-06-10 20:38:12  0.754744  1.626280 -0.723071
2025-06-10 21:38:12 -0.421635 -0.403762  0.863729

In [ ]:
# poprawne zczytywanie dat
df_6 = pd.DataFrame({"dates": ["25/06:10 - 15H38M40S", "25/06:11 - 17H12M35S", "25/06:12 - 10H45M00S"]})
df_6.info()

In [283]:
# df_6.dates.str[:9]

In [284]:
df_6.dates = pd.to_datetime(df_6.dates, format="%y/%m:%d - %HH%MM%SS")

In [281]:
pd.to_datetime(df_6.dates, format="%y/%m:%d - %HH%MM%SS").dt.date

0    2025-06-10
1    2025-06-11
2    2025-06-12
Name: dates, dtype: object

In [ ]:
df_6.info()

In [291]:
df_6.dates.dt.month
df_6.dates.dt.day_of_week
df_6.dates.dt.day_of_year
df_6.dates.dt.hour

0    15
1    17
2    10
Name: dates, dtype: int32

# Pandas profiling

In [5]:
!pip install ydata_profiling==4.16.1
!pip install pandas==2.2.3

Requirement already satisfied: ydata_profiling==4.16.1 in /opt/anaconda3/lib/python3.9/site-packages (4.16.1)
Requirement already satisfied: scipy<1.16,>=1.4.1 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (1.9.3)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.1 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (2.3.0)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (3.6.2)
Requirement already satisfied: pydantic>=2 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (2.9.1)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (3.1.2)
Requirement already satisfied: visions[type_image_path]<0.8.2,>=0.7.5 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (0.7.5)
Requirement already satisfied: numpy<2.2,>=1.16.0 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (1.23.5)
Requirement already satisfied: htmlmin==0.1.12 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (0.12.3)
Requirement already satisfied: requests<3,>=2.24.0 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (2.28.2)
Requirement already satisfied: tqdm<5,>=4.48.2 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (4.64.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (1.9.1)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (0.13.5)
Requirement already satisfied: typeguard<5,>=3 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (4.3.0)
Requirement already satisfied: imagehash==4.3.1 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (1.9.3)
Requirement already satisfied: dacite>=1.8 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (1.8.1)
Requirement already satisfied: numba<=0.61,>=0.56.0 in /opt/anaconda3/lib/python3.9/site-packages (from ydata_profiling==4.16.1) (0.57.0)
Requirement already satisfied: pillow in /opt/anaconda3/lib/python3.9/site-packages (from imagehash==4.3.1->ydata_profiling==4.16.1) (9.4.0)
Requirement already satisfied: PyWavelets in /opt/anaconda3/lib/python3.9/site-packages (from imagehash==4.3.1->ydata_profiling==4.16.1) (1.4.1)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/lib/python3.9/site-packages (from jinja2<3.2,>=2.11.1->ydata_profiling==4.16.1) (2.1.1)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling==4.16.1) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling==4.16.1) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling==4.16.1) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling==4.16.1) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling==4.16.1) (24.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling==4.16.1) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling==4.16.1) (2.8.2)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in /opt/anaconda3/lib/python3.9/site-packages (from numba<=0.61,>=0.56.0->ydata_profiling==4.16.1) (0.40.0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata_profiling==4.16.1) (2022.7)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.9/site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata_profiling==4.16.1) (2024.1)
Requirement already satisfied: joblib>=0.14.1 in /opt/anaconda3/lib/python3.9/site-packages (from phik<0.13,>=0.11.1->ydata_profiling==4.16.1) (1.2.0)
Requirement already satisfied: annotated-types>=0.6.0 in /opt/anaconda3/lib/python3.9/site-packages (from pydantic>=2->ydata_profiling==4.16.1) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.3 in /opt/anaconda3/lib/python3.9/site-packages (from pydantic>=2->ydata_profiling==4.16.1) (2.23.3)
Requirement already satisfied: typing-extensions>=4.6.1 in /opt/anaconda3/lib/python3.9/site-packages (from pydantic>=2->ydata_profiling==4.16.1) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata_profiling==4.16.1) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata_profiling==4.16.1) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata_profiling==4.16.1) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata_profiling==4.16.1) (2023.5.7)
Requirement already satisfied: patsy>=0.5.2 in /opt/anaconda3/lib/python3.9/site-packages (from statsmodels<1,>=0.13.2->ydata_profiling==4.16.1) (0.5.3)
Requirement already satisfied: importlib-metadata>=3.6 in /opt/anaconda3/lib/python3.9/site-packages (from typeguard<5,>=3->ydata_profiling==4.16.1) (6.0.0)
Requirement already satisfied: attrs>=19.3.0 in /opt/anaconda3/lib/python3.9/site-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata_profiling==4.16.1) (22.1.0)
Requirement already satisfied: networkx>=2.4 in /opt/anaconda3/lib/python3.9/site-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata_profiling==4.16.1) (2.8.4)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in /opt/anaconda3/lib/python3.9/site-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata_profiling==4.16.1) (0.2.0)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda3/lib/python3.9/site-packages (from importlib-metadata>=3.6->typeguard<5,>=3->ydata_profiling==4.16.1) (3.11.0)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata_profiling==4.16.1) (1.16.0)
Collecting pandas==2.2.3
  Using cached pandas-2.2.3-cp39-cp39-macosx_10_9_x86_64.whl (12.6 MB)
Requirement already satisfied: numpy>=1.22.4 in /opt/anaconda3/lib/python3.9/site-packages (from pandas==2.2.3) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.9/site-packages (from pandas==2.2.3) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas==2.2.3) (2022.7)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.9/site-packages (from pandas==2.2.3) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas==2.2.3) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.3.0
    Uninstalling pandas-2.3.0:
      Successfully uninstalled pandas-2.3.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
arcgis 2.3.0.3 requires pandas<2.2.0,>=2.0.0, but you have pandas 2.2.3 which is incompatible.
arcgis 2.3.0.3 requires requests<2.32.0,>=2.30.0, but you have requests 2.28.2 which is incompatible.
pycaret 3.3.2 requires pandas<2.2.0, but you have pandas 2.2.3 which is incompatible.
sktime 0.26.0 requires pandas<2.2.0,>=1.1, but you have pandas 2.2.3 which is incompatible.
Successfully installed pandas-2.2.3

In [1]:
import ydata_profiling
ydata_profiling.__version__

/opt/anaconda3/lib/python3.9/site-packages/numba/core/decorators.py:262: NumbaDeprecationWarning: numba.generated_jit is deprecated. Please see the documentation at: https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-generated-jit for more information and advice on a suitable replacement.
  warnings.warn(msg, NumbaDeprecationWarning)
/opt/anaconda3/lib/python3.9/site-packages/visions/backends/shared/nan_handling.py:51: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def hasna(x: np.ndarray) -> bool:

'v4.16.1'

In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.2.3'

In [5]:
from ydata_profiling import ProfileReport

In [6]:
titanic = pd.read_csv("ML-datasets-master/titanic.csv")

In [7]:
# generowanie raportu
report = ProfileReport(titanic)

In [8]:
# zapisywanie do html
report.to_file("titanic.html")

/opt/anaconda3/lib/python3.9/site-packages/ydata_profiling/profile_report.py:365: UserWarning: Try running command: 'pip install --upgrade Pillow' to avoid ValueError
  warnings.warn(

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

  0%|                                                    | 0/12 [00:00<?, ?it/s]
100%|███████████████████████████████████████████| 12/12 [00:00<00:00, 38.69it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]